.header {
	width: 100%;
	height: 72px;
	background: #fff2ec;
	display: flex;
	justify-content: center;
	align-items: center;
}

.backgroundContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoContainer {
	width: 121px;
	height: 29px;
	display: flex;
	align-items: center;
}

.NavBarAndbuttons {
	display: flex;
	align-items: center;
	gap: 32px;
}

.navBar ul {
	display: flex;
	gap: 32px;
}

.navBar li,
.mobileItem {
	margin: 0;
}

.navLink {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #4c2613;
}

.navLink,
.mobileNavLink {
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

.shareLoctionBtn,
.shareLoctionMobileBtn {
	border: 1px solid #cc6534;
	border-radius: 6px;
	height: 38px;
	background: #cc6534;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #ffffff;
}

.shareLoctionBtn {
	height: 32px;
	font-size: 16px;
	padding: 0 16px;
}

.shareLoctionMobileBtn {
	height: 38px;
	font-size: 10px;
}

.UserAvatarAndName {
	display: flex;
	align-items: center;
	column-gap: 8px;
	cursor: pointer;
}

.userAvatar {
	border-radius: 50%;
	object-fit: cover;
}

.logOutBtn {
	background: none;
	border: none;
	cursor: pointer;
}

@media (min-width: 375px) and (max-width: 768px) {
	.mobileNavBarAndButtons {
		width: 32px;
		height: 32px;
	}
	.mobileNavLink {
		text-decoration: none;
		color: black;
	}
	.burgerMenuDisable {
		display: none;
	}
	.burgerMenu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border: 1px solid #00000015;
		border-radius: 6px;
	}
	.NavBarAndbuttons {
		display: none;
	}
	.mobileBtns {
		display: none !important;
	}
	.desctopBtns {
		display: none;
	}
	.mobileNavContainer {
		position: relative;
	}
	.mobileList {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		left: 0;
		top: 72px;
		width: 100%;
		height: 100%;
		background: #fff2ec;
		z-index: 10000;
		row-gap: 32px;
	}
	.burgerMobileBtns {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	.shareLoctionBtn {
		display: none !important;
	}
	.UserAvatarAndName {
		display: flex;
		position: relative;
		width: 79px;
		height: 32px;
		align-items: center;
		column-gap: 8px;
		padding-right: 3px;
		cursor: pointer;
	}
	.userAvatar {
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}
	.logOutBtn {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		border: none;
		cursor: pointer;
		border-left: 1px solid #00000026;
	}
	.shareLoctionMobileBtn {
		width: 125px;
		height: 38px;
		background: #cc6534;
		color: white;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 10px;
	}

	.ContainerUser {
		display: flex;
		width: 110px;
	}
}
@media (min-width: 768px) and (max-width: 1374px) {
	.burgerMenu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border: 1px solid #00000015;
		border-radius: 6px;
	}
	.burgerMenuIcon {
		display: flex;
	}
	.burgerMenuDisable {
		display: none;
	}
	.mobileItem {
		list-style: none;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 12px;
	}
	.mobileNavLink {
		text-decoration: none;
		color: black;
	}

	.mobileList {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		left: 0;
		top: 72px;
		width: 100%;
		height: 100%;
		background: #fff2ec;
		z-index: 10000;
		row-gap: 32px;
	}
	.NavBarAndbuttons {
		display: none;
	}
	.mobileNavBarAndButtons {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.mobileBtns {
		display: none !important;
	}
	.shareLoctionBtn {
		display: flex;
		width: 196px;
		height: 32px;
		background: #cc6534;
		color: white;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 16px;
	}
	.userAvatar {
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}
	.UserAvatarAndName {
		display: flex;
		position: relative;
		width: 79px;
		height: 32px;
		align-items: center;
		column-gap: 8px;
		padding-right: 3px;
		cursor: pointer;
	}
	.logOutBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		background: none;
		border: none;
		cursor: pointer;
		border-left: 1px solid #00000026;
	}
	.shareLoctionMobileBtn {
		display: none !important;
	}
	.ContainerUser {
		display: flex;
		width: 110px;
	}

	@media (min-width: 1375px) {
		.NavBarAndbuttons {
			display: flex;
			justify-content: flex-end;
			column-gap: 32px;
		}

		.mobileNavBarAndButtons {
			display: none;
		}
		.burgerMenu .mobileList {
			display: none;
		}

		.desctopBtns {
			display: flex;
			column-gap: 16px;
		}

		.userInfo {
			width: 130px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.userAvatar {
			width: 32px;
			height: 32px;
		}
		.UserAvatarAndName {
			position: relative;
		}
		.logOutBtn {
			display: flex;
			margin-left: 8px;
			border-left: 1px solid #00000026;
			padding-left: 8px;
			align-items: center;
			justify-content: center;
		}
	}
}

.backdrop {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.25);
	z-index: 10;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.isHidden {
	display: none;
}

.modal {
	padding: 64px 20px;
	background: #fff2ec;
	border-radius: 24px;
	position: relative;
	max-width: 334px;

	@media screen and (min-width: 768px) {
		padding: 64px 32px;
		max-width: 704px;
	}

	@media screen and (min-width: 1376px) {
		padding: 64px;
		max-width: 768px;
	}
}

.modalCloseButton {
	position: absolute;
	top: 24px;
	right: 24px;
	background: none;
	border: none;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.modalCloseButton:hover {
	transform: scale(1.2);
}

.modalTitle {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 57px;
	letter-spacing: -0.48px;
	text-align: center;
	color: #000000;
}

.modalText {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #000000;

	margin-top: 5px;
}

.modalList {
	display: flex;
	gap: 24px;
	justify-content: center;
	align-items: center;
	margin-top: 32px;

	flex-direction: column;

	@media screen and (min-width: 768px) {
		flex-direction: row;
	}
}

.modalItem {
	width: 100%;

	@media screen and (min-width: 768px) {
		max-width: 203px;
	}
}

.modalButton {
	padding: 6px 12px;
	border-radius: 6px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;

	transition: all 250ms ease-in-out;

	width: 100%;

	@media screen and (min-width: 768px) {
		max-width: 203px;
	}
}

.modalButton:hover {
	transform: scale(0.9);
}

.modalButtonCancel {
	background: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.15);
	color: #4c2613;
}

.modalButtonCancel:hover {
	background: #cc6534;
	border: 1px solid #cc6534;
	color: #ffffff;
}

.modalButtonExit {
	background: #cc6534;
	border: 1px solid #cc6534;
	color: #ffffff;
}

.modalButtonExit:hover {
	background: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.15);
	color: #4c2613;
}
