.hero {
  padding: 32px 0;

  @media screen and (min-width: 1374px) {
    padding: 48px 0;
  }

  & > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 24px;

    @media screen and (min-width: 1374px) {
      flex-direction: row;
    }
  }
}
