.container {
	margin-top: 40px;
	margin-bottom: 64px;

	@media screen and (min-width: 736px) {
		margin-bottom: 42px;
	}

	@media screen and (min-width: 1344px) {
	}
}

.box {
	width: 100%;
	max-width: 335px;

	display: flex;
	max-width: 768px;
	padding: 40px 32px;
	flex-direction: column;
	gap: 32px;
	border-radius: 24px;
	background: #ffe5d9;

	@media screen and (min-width: 736px) {
		max-width: 363px;
	}

	@media screen and (min-width: 1344px) {
		max-width: 533px;
	}
}

.text {
	color: #000;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;

	font-size: 18px;
	letter-spacing: -0.18px;

	@media screen and (min-width: 736px) {
	}

	@media screen and (min-width: 1344px) {
		font-size: 26px;
		letter-spacing: -0.26px;
	}
}

.button {
	color: #fff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;

	width: 100%;
	max-width: 295px;

	display: flex;
	padding: 6px 12px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 6px;
	border: 1px solid #cc6534;
	background: #cc6534;

	transition: all 250ms ease-in-out;

	font-size: 16px;

	@media screen and (min-width: 736px) {
		max-width: 175px;
	}

	@media screen and (min-width: 1344px) {
		max-width: 210px;
		font-size: 20px;
	}
}

.button:hover {
	transform: scale(1.1);
}
