.container {
	width: 1344px;
	margin: 0;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 42px;
}

.box {
	width: 533px;

	display: flex;
	max-width: 768px;
	padding: 40px 32px;
	flex-direction: column;
	gap: 32px;
	border-radius: 24px;
	background: #ffe5d9;
}

.text {
	color: #000;
	font-family: Montserrat;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	letter-spacing: -0.26px;
}

.button {
	color: #fff;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;

	display: flex;
	padding: 6px 12px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 6px;
	border: 1px solid #cc6534;
	background: #cc6534;

	transition: all 250ms ease-in-out;
}

.button:hover { 
	transform: scale(1.1);
}
