.NotFoundTitle{
    text-align: center;
}
.NotFoundSubTitle{
    text-align: center;
}
.NotFoundSvgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}