.advantages {
    background: #FFF2EC;
    padding: 80px 60px;
}


.advantagesTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 40px;
}


.advantagesGrid {
    display: flex;
    justify-content: center;
}


.advCard {
    background: #FFE5D9;
    padding: 16px;
    margin: 10px;
    border-radius: 16px;
    width: 421px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;


    h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin-bottom: 8px;
    }


    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        opacity: 0.8;
    }
}

.icon {
    font-size: 28px;
    display: block;
    margin-bottom: 12px;
}