.hero {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.heroContent {
    position: relative;
    max-width: 720px;
    padding: 32px;
    margin-left: 80px;
    color: #fff;
}

.heroContent h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: 700;
}

.heroContent p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.searchBox {
    display: flex;
    margin-top: 28px;
    max-width: 560px;
    margin-right: 14px;
}

.searchBox input {
    flex: 1;
    padding: 14px 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    background-color: #FFE5D9;
}

.searchBox button {
    padding: 14px 22px;
    margin-left: 14px;
    border-radius: 10px;
    border: none;
    background: #CC6534;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

/* .searchBox button:hover {
    background: #ea580c;
} */