.popular {
  padding: 60px 0;

  &Box{
  margin-bottom: 40px;

  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
    h2 {
      font-size: 28px;
      font-weight: 700;
    }

    button {
      width: 136px;
      height: 48px;
      background-color: #CC6534;
      cursor: pointer;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      color: #fff;
    }
  }

  &__nav {
    display: flex;
    gap: 8px;
    justify-content: end;
    margin-top: 40px;
    button {
      width: 48px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid #00000026;
      background: #FFE5D9;
      cursor: pointer;
      transition: 0.2s;
    }
  }


  &__track {
    display: flex;
    gap: 24px;
    transition: transform 0.4s ease;
  }
  &__slider{
    &__PopularCard{
      border: 0px solid rgba(0, 0, 0, 0.15);

      border-radius: 12px;
      width: 420px;
  
      height: 624px;
      background: #ffe5d9;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 1300px) {
  .popular{
    &__slider{
      &_PopularCard{
        width: 335px;
        height: 520px;
      }
      }
    }
  }