.footer{
    width: 100%;
    background: #FFE5D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topFooterContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000026;
}
.logoContainer{
    
    display: flex;
    align-items: center;
    width: 129px;
    height: 40px;
}
.socialContainer{
    display: flex;
    justify-content: space-between;
}
.footerNavBar{
    width: 275px;
    height: 43px;
}
.bottomFooterContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

}
.FooterCopyright{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #4C2613;
}

@media (min-width: 375px) {
    .footer{
        height: 476px;
    }
    .footerContainer{
        width: 70%;
        height: 340px;
    }
    .topFooterContainer{
        height: 272px;
        flex-direction: column      ;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
    }
    .bottomFooterContainer{
        display: flex;
        height: 68px;
    }
    .FooterCopyright{
        font-size: 12px;
        text-align: center;
    }
    .socialContainer{
        width: 192px;
        height: 32px;
    }
    .footerNavBar{
        width: 100%;
        margin-top: 0;
        height: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .footer{
        height: 274px;
    }
    .footerContainer{
        width: 82%;
        height: 178px;
    }
    .topFooterContainer{
        height: 128px;
        flex-wrap: wrap;
    }
    .bottomFooterContainer{
        display: flex;
        height: 50px;
    }
    .FooterCopyright{
        font-size: 12px;

    }
    .socialContainer{
        width: 132px;
        height: 24px;
    }
    .footerNavBar{
        width: 100%;
        margin-top: 29px;
        height: 40px;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 1440px) {
    .footer{
        height: 283px;
    }
    .footerContainer{
        width: 91%;
        height: 123px;
    }
    .topFooterContainer{
        height: 67px;
    }
    .bottomFooterContainer{
        display: flex;
        height: 56px;
    }
    .FooterCopyright{
        font-size: 16px;

    }
    .socialContainer{
        width: 132px;
        height: 24px;
    }
    .footerNavBar{
        width: 275px;
        height: 43px;
        margin-top: 0;
    }
    .socialIcon{
        width: 24px;
        height: 24px;
    }
}