.navBar{
    display: flex;
    width: 426px;
    height: 27px;
    align-items: center;
}
.list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.item{
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.navLink{
    text-decoration: none;
    color: black;
}
@media (min-width: 375px) {
    .navBar{
        width: 262px;
    }
    .list{
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 24px;
    }
}
@media (min-width: 1440px) {
    .list{
        flex-direction: row;
    }
}
