.userList{
    right: 74px; 
    width: 120px;
    z-index: 1000;
    background: #FFF2EC;
}
.userItem{
    list-style: none;
}
.changeAvatar{
    text-decoration: none;
    color: black;
}

@media (min-width: 378px) {
    .userList{
        display: block ;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .userList{
        padding: 0 ;
    }

}
@media (min-width: 1440px) {
    .userList{
        position: absolute; 
        top: 9%;
    }
}