.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  
  max-width: 335px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  outline: 2px solid red;

  @media screen and (min-width: 766px) {
    max-width: 734px;
  }

  @media screen and (min-width: 1374px) {
    max-width: 1342px;
  }
}
