.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 335px;
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 766px) {
    max-width: 734px;
  }

  @media screen and (min-width: 1374px) {
    max-width: 1342px;
  }
}
