.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  
  max-width: 335px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    max-width: 736px;
  }

  @media screen and (min-width: 1376px) {
    max-width: 1344px;
  }
}
