.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 335px;

  @media screen and (min-width: 736px) {
    max-width: 704px;
  }

  @media screen and (min-width: 1344px) {
    max-width: 1312px;
  }
}
