.signUpBtn{
    background: #CC6534;
    color: #fff;
    width: 114px;
    height: 32px;
    text-align: center;
    border-radius: 6px;

    transition-duration: 0.6s;
}
.signUpBtn:hover{
    background: #0000000D;
    border: 1px solid #00000026;
    color: #000000;
    transition-duration: 0.3s;   
}
.signInBtn{
    background: #0000000D;
    width: 65px;
    height: 32px;
    text-align: center;
    border: 1px solid #00000026;
    border-radius: 6px;
    transition-duration: 0.6s;
}
.signInBtn:hover{
    transition-duration: 0.3s;
    background: #CC6534;
    color: #fff;
}

@media (min-width: 375px) and (max-width: 768px) {
    .signUpBtn{
        width: 114px;
        height: 32px;
        border: 1px solid #00000015;
        text-align: center;
        border-radius: 6px;
    }
    .signInBtn{
        width: 56px;
        height: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1374px){
    .signUpBtn{
        width: 114px;
        height: 32px;
        border: 1px solid #00000015;
        text-align: center;
        border-radius: 6px;
    }
    .signInBtn{
        width: 56px;
        height: 32px;
    }
}

@media (min-width: 1374px){
    .signUpBtn{
        width: 137px;
        height: 38px;
        border: 1px solid #00000015;
        text-align: center;
        border-radius: 6px;
    
        transition-duration: 0.6s;
    }
    .signInBtn{
        width: 65px;
        height: 38px;
    }
}

