.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal {
    position: relative;
    border-radius: 24px;
    padding: 64px;
    width: 768px;
    max-width: 768px;
    height: 400px;
    background: #fff2ec;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .close {
      width: 34px;
      height: 34px;
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
    }

    .title {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #000;
    }

    .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: #000;
    }

    .actions {
      display: flex;
      gap: 24px;
      justify-content: center;
      margin-top: 16px;

      .login {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 6px 12px;
        width: 203px;
        height: 48px;
        background: rgba(0, 0, 0, 0.05);
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #4c2613;
      }

      .register {
        border: 1px solid #cc6534;
        border-radius: 6px;
        padding: 6px 12px;
        width: 203px;
        height: 48px;
        background-color: #cc6534;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
      }
    }
  }
}
