.section {
  padding: 72px 0;

  > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #4c2613;
}

.button {
  border: 1px solid #cc6534;
  border-radius: 6px;
  width: 202px;
  height: 48px;
  background: #cc6534;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: darken(#cc6534, 5%);
  }
}

.list {
  display: flex;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
  width: 421px;
  height: 227px;
  background: #ffe5d9;
}

.rating {
  display: flex;

  .star {
    > svg {
      width: 24px;
      height: 24px;
    }
  }
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4c2613;
}

.info {
  display: flex;
  flex-direction: column;
  margin: auto 0 0 0;
  gap: 4px;
}

.author {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #4c2613;
}

.location {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #4c2613;
}

.couple {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  margin: 0 0 0 auto;

  .prev,
  .next {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: #ffe5d9;
    cursor: pointer;

    &:hover {
      background: #ffd7c7;
    }
  }
}

.nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  min-height: 227px;
  background: #fff0eb;
  border-radius: 16px;
  border: 2px dashed #cc6534;
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  color: #cc6534;
  text-align: center;
  padding: 16px;
}
