.link {
  display: flex;
  align-items: center;
  gap: 3.31px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #4C2613;

  &__iconTitle {
    font-weight:500;
    font-size:18px;
  }
  &__iconImg {
    width:24px;
    height:24px;
  }
}
