.box {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: 32px;
	width: 100%;
}

.title {
	font-size: 28px;
	letter-spacing: -0.28px;

	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;

	@media screen and (min-width: 768px) {
		font-size: 52px;
		letter-spacing: -0.52px;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.label {
	color: #000;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.input {
	width: 100%;
	display: flex;
	padding: 8px;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: #ffe5d9;
	height: 43px;

	transition: all 250ms ease-in-out;
}

.input::placeholder,
.input {
	color: rgba(0, 0, 0, 0.6);
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.input:hover,
.input:focus,
.input:active {
	border: 1px solid #cc6534;
}

.button {
	width: 100%;
	color: #fff;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;

	display: flex;
	padding: 6px 12px;
	margin-top: 2px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	align-self: stretch;
	border-radius: 6px;
	border: 1px solid #cc6534;
	background: #cc6534;

	transition: all 250ms ease-in-out;
}

.button:hover {
	border: 1px solid #cc6534;
	background: #ffe5d9;
	color: #000;
}

.errorText {
	color: #b00101;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	opacity: 0;
}

.unHidden {
	opacity: 1;
}

.errorInput {
	border: 1px solid #b00101;
}

.errorInput::placeholder {
	color: #b00101;
}
