.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 15px;
	margin: 0;
}

.box {
	padding-top: 82px;
	display: flex;
	max-width: 644px;
	width: 644px;
	flex-direction: column;
	align-items: center;
}
