.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 15px;
	margin: 0;
	flex: 1;
}

.box {
	padding-top: 82px;
	display: flex;
	max-width: 644px;
	width: 644px;
	flex-direction: column;
	align-items: center;
}

.logo {
	display: flex;
	gap: 5px;
	padding-top: 18px;
	padding-left: 20px;
	flex-shrink: 0;

	@media screen and (min-width: 768px) {
		padding-left: 32px;
	}

	@media screen and (min-width: 1200px) {
		padding-left: 64px;
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	padding-bottom: 24px;
	margin-top: auto;
	flex-shrink: 0;
}

.footerText {
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
