.footer{
    width: 100%;
    background: #FFE5D9;
    display: flex;
    justify-content: center;
    align-items: center;

    &__footerContainer{
        &__topFooterContainer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #00000026;
            &__logoContainer{
                display: flex;
                align-items: center;
                width: 129px;
                height: 40px;
            }
            &__socialContainer{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
