.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;

  .modal {
    background: #FFF2EC;
    max-width: 768px;
    min-height: 553px;
    padding: 64px;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .close {
      width: 34px;
      height: 34px;
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
    }

    .title {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #000;
    }
  }
}
