.navContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 49px;

	color: #000;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-decoration: none;

	position: relative;
	transition: color 250ms ease-in-out;
}

.link:hover {
	color: #cc6534;
}

.active::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.15);
}
