.toastContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 9999;
}

.toast {
  background: #4c2613;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  animation: slideFade 3s forwards;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

