.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;

  margin: 40px 0;

  @media screen and (max-width: 768px){
      font-size: 32px;
    }

    @media screen and (max-width: 1300px) and (min-width: 768px) {
      font-size: 48px;
      
    }
}

.filterPanel {
  margin-bottom: 40px;

  &Form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &Box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      gap: 0;
      width: 100%;
    }
  }
  &Dropdown {
    position: relative;

    &:nth-of-type(3) {
      display: none;
      @media screen and (min-width: 768px) and (max-width: 1340px) {
        display: block;
        gap: 0;
      }
    }
    .filterPanelForm > & {
      display: block;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 16px;
      }
      @media screen and (min-width: 768px) and (max-width: 1340px) {
        display: none;
      }
    }
  }
  &Input {
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 8px;
    width: 310px;
    height: 43px;

    background: #ffe5d9;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4c4c4c;

    transition: 500ms;


     &:focus,
    &:hover {
      outline: 1px solid #ffa57a;
    }

    @media screen and (max-width: 1340px) {
      margin-bottom: 12px;
    }

    @media screen and (max-width: 1340px) {
      width: 100%;
    }
  }
  &Regions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 8px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 6px 6px;
    background: #ffe5d9;
    transition: 500ms;

    max-height: 500px;
    overflow-y: auto;

    &Label {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: start;

      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #4c4c4c;

      position: relative;
    }

    &Checknox {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 150px;
      height: 40px;
      cursor: pointer;
    }
    &Item {
      border-radius: 4px;
      padding: 4px 8px;
      transition: 250ms;

      &:hover,
      &:focus {
        background: #ffa47aa1;
      }

      &:has(.filterPanelRegionsChecknox:checked) {
        background: #ffa57a;
      }
    }

    &Box {
      position: absolute;
      top: 35px;
      left: -1px;
      width: 201px;
      z-index: 100;
      .filterPanelForm > .filterPanelDropdown > & {
        width: 100.5%;
      }
      @media screen and (max-width: 768px) {
        width: 150px;
      }
    }
  }
  &Button {
    border: 0;
    position: relative;

    outline: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 8px;
    width: 199px;
    height: 43px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4c4c4c;
    text-align: left;

    background-color: #ffe5d9;

    transition: 500ms;

    display: flex;
    justify-content: space-between;


    &:hover {
      outline: 1px solid #ffa57a;
    }
    @media screen and (max-width: 768px) {
      width: 148px;
    }
    &Icon {
      width: 24px;
      height: 24px;
    }

    .filterPanelForm > .filterPanelDropdown > & {

      @media screen and (max-width: 768px) {
      width: 100%;
      }
      
    }
  }
}
.isHidden {
  display: none;
}
