.filterPanel {
  height: 43px;

  &Form {
    display: flex;
    gap: 24px;
  }

  &Regions {
    &Button {
      border: 1px solid #ffa57a;
      border-radius: 6px;
      padding: 8px;
      width: 199px;
      height: 43px;

      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #4c4c4c;

      background-color: #ffe5d9;

      display: flex;
      justify-content: space-between;
    }
  }
}
.isHidden {
  display: none;
}
