.locationsGrid {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &Card {
    border: 0px solid rgba(0, 0, 0, 0.15);

    border-radius: 12px;

    height: 624px;
    background: #ffe5d9;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      width: 335px;
      height: 520px;
    }
    &Title {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 150%;
      color: #4c2613;
    }
    
  }
}
