.reviews {
  padding: 40px 0;
  background-color: #FFF2EC;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  &__header {
    color: #4C2613;

    h2 {
      font-size: 24px;
      font-weight: 700;

      @media (min-width: 768px) {
        font-size: 28px;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: end;
    gap: 10px;

    button {
      width: 48px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid #00000026;
      background: #FFE5D9;
      cursor: pointer;

      @media (min-width: 768px) {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__track {
    display: flex;
    gap: 16px;
    transition: transform 0.4s ease;
    padding-bottom: 25px;
    padding-top: 25px;

    @media (min-width: 768px) {
      gap: 24px;
    }
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 720px;
    padding: 0 24px;
  }

  @media (min-width: 1024px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    // max-width: 1140px;
    max-width: 1180px;
  }
}


.review-card {
  flex-shrink: 0;
  width: 100%;
  max-width: 320px;
  background: #fde7db;
  border-radius: 20px;
  padding: 16px;

  @media (min-width: 768px) {
    max-width: 340px;
    padding: 20px;
  }

  @media (min-width: 1200px) {
    max-width: 360px;
  }

  &__rating {
    color: #000000;
    font-size: 14px;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__footer {
display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    flex-direction: column;
  }

  &__author {
    font-weight: 600;
  }

  &__type {
    font-size: 12px;
    opacity: 0.6;
    white-space: nowrap;
  }
}
