.navBar{
    display: flex;
    height: 27px;
    align-items: center;
    &__list{
        display: flex;
        gap: 32px;
        justify-content: space-between;
        padding: 0;
        &__item{
            list-style: none;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            &__navLink{
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .navBar{
        width: 262px;
        &__list{
            flex-direction: column;
            align-items: center;
            width: 100%;
            row-gap: 24px;
        }
    }

}
@media (min-width: 768px) and (max-width:1374px) {
    .navBar{
        &__list{
            flex-direction: row;
        }
    }
}
